<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %blue(%-5level) [thread] %magenta(%logger{0}): %msg %n</pattern>
        </encoder>
    </appender>
    
    <timestamp key="byDay" datePattern="yyyMMdd"/>
        
    <logger name="com.jurgen.chat" level="DEBUG">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>c:/logs/chat-${byDay}-log.txt</file>
            <append>false</append>
            <encoder>
                <pattern>%d{dd-MM-yyyy hh:mm:ss} %-5level [%-20.30logger{0}]: %msg%n</pattern>
                 <outputPatternAsHeader>true</outputPatternAsHeader>
            </encoder>                  
        </appender>
    </logger>
      
    <logger name="com.jurgen" level="WARN">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>c:/logs/chat-${byDay}-warn-log.txt</file>
            <append>false</append>
            <encoder>
                <pattern>%d{dd MMM yyyy hh:mm:ss} %-5level [%logger{5}]: %msg%n</pattern>
            </encoder>      
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>  
        </appender>
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    
    <!--  Logger which write logs to database  -->
    <!--  <logger name="com.jurgen.chat" level="DEBUG">
        <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
            <append>false</append>
            <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
                <driverClass>com.mysql.jdbc.Driver</driverClass>
                <url>jdbc:mysql://localhost/chatdb</url>
                <user>root</user>
                <password>123456</password>
            </connectionSource>
        </appender>
    </logger>
    -->
</configuration>