<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <display-name>AdminFilter</display-name>
        <filter-class>com.jurgen.blogex.filters.AdminFilter</filter-class>
    </filter>	
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminResources/*</url-pattern>
    </filter-mapping>	
	
    <listener>
        <listener-class>com.jurgen.blogex.listeners.InitListener</listener-class>
    </listener>	
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <display-name>RegisterServlet</display-name>
        <servlet-class>com.jurgen.blogex.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <display-name>SignInServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <display-name>SignOutServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostServlet</servlet-name>
        <display-name>GetPostServlet</display-name>
        <servlet-class>com.jurgen.blogex.servlets.GetPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <display-name>AddPostServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInPageServlet</servlet-name>
        <display-name>SignInPageServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.SignInPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <display-name>AddCommentServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <display-name>SearchServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeAdminServlet</servlet-name>
        <display-name>MakeAdminServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.MakeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCommentServlet</servlet-name>
        <display-name>RemoveCommentServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.RemoveCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePostServlet</servlet-name>
        <display-name>RemovePostServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.RemovePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <display-name>GetUserServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.GetUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserInfoServlet</servlet-name>
        <display-name>ChangeUserInfoServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.ChangeUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <display-name>BlockUserServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.BlockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEditingPostServlet</servlet-name>
        <display-name>GetEditingPostServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.GetEditingPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <display-name>EditPostServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnblockUserServlet</servlet-name>
        <display-name>UnblockUserServlet</display-name>
        <description></description>
        <servlet-class>com.jurgen.blogex.servlets.UnblockUserServlet</servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostServlet</servlet-name>
        <url-pattern>/GetPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInPageServlet</servlet-name>
        <url-pattern>/SignInPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/AddCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>		
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeAdminServlet</servlet-name>
        <url-pattern>/MakeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCommentServlet</servlet-name>
        <url-pattern>/RemoveCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePostServlet</servlet-name>
        <url-pattern>/RemovePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/GetUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserInfoServlet</servlet-name>
        <url-pattern>/ChangeUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/BlockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEditingPostServlet</servlet-name>
        <url-pattern>/GetEditingPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnblockUserServlet</servlet-name>
        <url-pattern>/UnblockUserServlet</url-pattern>
    </servlet-mapping>
	
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
